/* Add here all your CSS customizations */

.wrap-table-detail {
	overflow: auto;	
}
.ui-pnotify{
	z-index: 99999;
}
th[data-col="Checklist"]{
	cursor: pointer;
}
.checklist {
	padding: 0 8px !important; 
}